In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('datasets/iris.csv')

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
encoder=LabelEncoder().fit(df['species'].unique())

In [7]:
df['species_encoded']=encoder.transform(df['species'].values)

In [8]:
x=df[['sepal_length','sepal_width','petal_length','petal_width']].values

In [9]:
y=df['species_encoded'].values

In [10]:
x=x.T

In [11]:
x.shape

(4, 150)

In [12]:
y=y.reshape(150,1)
y=y.T

In [13]:
y.shape

(1, 150)

In [14]:
w=np.zeros((1,4))
b=np.zeros((1,1))

In [15]:
w.shape

(1, 4)

In [16]:
b.shape

(1, 1)

In [17]:
num_iterations=10000

In [18]:
def sigmoid(var):
    return 1/(1+np.exp(-var))

In [19]:
m=150

In [20]:
alpha=0.01

In [21]:
for i in range(num_iterations):
    z=np.dot(w,x)+b
    a=sigmoid(z)
    dz=a-y
    dw=(1/m)*np.dot(x,dz.T)
    db=(1/m)*(np.sum(dz))
    
    w=w-(alpha*(dw.T))
    b=b-(alpha*db)

In [22]:
w.shape

(1, 4)

In [23]:
b.shape

(1, 1)

In [24]:
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species_encoded
0,5.1,3.5,1.4,0.2,setosa,0
1,4.9,3.0,1.4,0.2,setosa,0
2,4.7,3.2,1.3,0.2,setosa,0
3,4.6,3.1,1.5,0.2,setosa,0
4,5.0,3.6,1.4,0.2,setosa,0

In [25]:
inp=np.array([[5.0,3.5,1.4,0.2]])

In [26]:
inp=inp.T

In [27]:
inp.shape

(4, 1)

In [28]:
prediction=sigmoid(np.dot(w,inp)+b)

In [29]:
prediction

array([[1.]])

In [30]:
from sklearn.linear_model import LogisticRegression

In [31]:
x_new=df[['sepal_length','sepal_width','petal_length','petal_width']].values
y_new=df['species'].values

In [32]:
model=LogisticRegression()

In [33]:
model.fit(x_new,y_new)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [34]:
model.predict([[5.0,3.5,1.4,0.2]])

array(['setosa'], dtype=object)